/* landing page styles */

body {
  background-color: rgb(255, 255, 255);
}

.main,
.main.container,
.main.segment {
  margin-top: 4em;
}
.masthead {
  /* background-image: url('../src/images/businessoffice.jpg'), */
  /* background-image: "url('../src/images/businessoffice.png')" !important; */
  background-image: linear-gradient(
    135deg,
    rgb(24, 42, 115) 0%,
    rgb(33, 138, 174) 69%,
    rgb(32, 167, 172) 89%
  ) !important;

  display: flex;
  align-items: center;
  height: 100vh;
}

.masthead.segment {
  min-height: 700px;
  padding: 1em 0 !important;
  border-color: transparent;
  border-width: 0em;
}

.masthead h1.ui.header {
  margin-top: 0em;
  margin-bottom: 0em;
  font-size: 1em;
  font-weight: normal;
}

.masthead h2.ui.header {
  margin-top: 0em;
  margin-bottom: 0em;
  font-size: 1em;
  font-weight: normal;
}
/* sticky footer */

/* .ui.footer.segment {
    position: fixed;
    padding: 10px;
    bottom: 0;
    width: 100%;
    margin-bottom: 0;
    background-color: rgb(234, 234, 234);
  } */

.ui.footer.segment .ui.divider {
  margin-top: 0px;
}

/* remove border from inverted segments */
.ui.inverted.attached.segment {
  border: none;
}
.ui.menu .item img.logo {
  margin-right: 1.5em;
}

.ui.fixed.menu {
  /* background-image: linear-gradient(
    135deg,
    rgb(24, 42, 115) 0%,
    rgb(33, 138, 174) 69%,
    rgb(32, 167, 172) 89%
  ) !important; */
  /* background-image: linear-gradient(
    135deg,
    rgb(24, 42, 115) 0%,
    rgb(33, 138, 174) 69%,
    rgb(32, 167, 172) 89%
  ) !important; */
}

.ui.fixed.menu.item {
  color: '#abb8c3';
}

.lightGreyFont {
  color: '#C0C0C0';
}
